<div class="container-fluid">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-md-12"> 
                    <div class="pull-right">
                        <img src="resources/images/redhat.svg" class="img-responsive" width="100px" style="padding:10px"> 
                    </div>
                    <img src="resources/images/citilogo_footer.png" class="img-responsive" style="padding:10px"> 
                </div>
            </div>
        </footer>
    </div>
</div>