/*
html,body{
    height: 100%
}

.bs-wizard {margin-top: 40px;}

.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #0099ff; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #40b9fe; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #0099ff;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px
}

.col-xs-5ths {
    width: 20%;
    float:left;
}

@media(min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float:left;
    }
}

@media(min-width: 992px) {
    .col-md-5ths {
        width: 20%; 
        float:left;
    }
}

@media(min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float:left;
    }
}

#citilmHeader {
    min-height: 85px;
    background: #ddd url('/resources/images/citilogo_banner.jpg') repeat;
}

#citilmHeader #headerLogo {
    padding-top: 25px;
}
*/


.templateRoot{
    display: inline-block;
}
.hover-edit-trigger {
    padding: 3px;
}
.hover-edit-trigger:hover{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.edit-pencil{
    display: none;
    margin-left: 3px;
    padding: 3px;
    border-left: 1px solid #dcdcdc;
}
.hover-text-field:hover .edit-pencil{
    display: inline-block;
}
.edit-button-group{
    border: 1px solid #dcdcdc;
    border-top: none;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
}
.edit-button-group .glyphicon{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 1px;
    cursor: pointer;
}

